.autoDarkModeTransitionMask {
  width: 43px;
  height: 43px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  border-radius: 100%;
  background-color: var(--auto-dark-mode-transparent);
  z-index: 999;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
  transform: scale(1);
  backdrop-filter: invert(1) !important;
  -webkit-backdrop-filter: invert(1) !important;
}

.autoDarkModeTransitionMask.autoDarkModeTransitioning {
  animation-duration: 600ms;
  animation-name: transitioning-opacity, transitioning-zoom;
  animation-iteration-count: forward;
  animation-timing-function: var(--auto-dark-mode-timing-function);
}

@keyframes transitioning-opacity {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.autoDarkModeButton {
  width: 43px;
  height: 43px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  border-radius: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 600ms;
  transition-timing-function: var(--auto-dark-mode-timing-function);
}

.autoDarkModeButton svg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 23px;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 600ms;
  transition-timing-function: var(--auto-dark-mode-timing-function);
}

.autoDarkModeButton svg path {
  transition: fill 600ms;
  transition-timing-function: var(--auto-dark-mode-timing-function);
}

.autoDarkModeButton[dark-mode="true"] {
  background-color: var(--auto-dark-mode-333333);
}

.autoDarkModeButton[dark-mode="true"] svg path {
  fill: var(--auto-dark-mode-ffffff);
}

.autoDarkModeButton[dark-mode="true"] svg[mode="light"] {
  opacity: 0;
}

.autoDarkModeButton[dark-mode="true"] svg[mode="dark"] {
  opacity: 1;
}

.autoDarkModeButton[dark-mode="false"] {
  background-color: var(--auto-dark-mode-ffffff);
}

.autoDarkModeButton[dark-mode="false"] svg path {
  fill: var(--auto-dark-mode-333333);
}

.autoDarkModeButton[dark-mode="false"] svg[mode="light"] {
  opacity: 1;
}

.autoDarkModeButton[dark-mode="false"] svg[mode="dark"] {
  opacity: 0;
}