@keyframes transitioning-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.darkify_transition_mask {
  width: 43px;
  height: 43px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  border-radius: 100%;
  background-color: var(--darkify-transparent);
  z-index: 999;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: scale(1);
  backdrop-filter: invert(1) grayscale(1) !important;
  -webkit-backdrop-filter: invert(1) grayscale(1) !important;
}

.darkify_transition_mask.darkify_transitioning {
  animation-duration: var(--darkify-duration);
  animation-name: transitioning-opacity, transitioning-zoom;
  animation-iteration-count: forward;
  animation-timing-function: var(--darkify-timing-function);
  animation-direction: normal;
}

.darkify_gray_mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  user-select: none;
  -webkit-user-select: none;
  display: block;
  opacity: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  backdrop-filter: grayscale(1) !important;
  -webkit-backdrop-filter: grayscale(1) !important;
  transform: translateX(-100%);
}

.darkify_gray_mask.darkify_displayed {
  opacity: 1;
  transform: translateX(0%);
}

.darkify_gray_mask.darkify_fade_out {
  animation-duration: var(--darkify-duration-half);
  animation-name: fade-out;
  animation-iteration-count: forward;
  animation-timing-function: ease-out;
}

.darkify_button {
  width: 43px;
  height: 43px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  border-radius: 100%;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color var(--darkify-duration);
  transition-timing-function: var(--darkify-timing-function);
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.1);
}

.darkify_button svg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 23px;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity var(--darkify-duration);
  transition-timing-function: var(--darkify-timing-function);
}

.darkify_button svg path {
  transition: fill var(--darkify-duration);
  transition-timing-function: var(--darkify-timing-function);
}

.darkify_button[dark-mode="true"] {
  background-color: var(--darkify-333333);
}

.darkify_button[dark-mode="true"] svg path {
  fill: var(--darkify-ffffff);
}

.darkify_button[dark-mode="true"] svg[mode="light"] {
  opacity: 0;
}

.darkify_button[dark-mode="true"] svg[mode="dark"] {
  opacity: 1;
}

.darkify_button[dark-mode="false"] {
  background-color: var(--darkify-ffffff);
}

.darkify_button[dark-mode="false"] svg path {
  fill: var(--darkify-333333);
}

.darkify_button[dark-mode="false"] svg[mode="light"] {
  opacity: 1;
}

.darkify_button[dark-mode="false"] svg[mode="dark"] {
  opacity: 0;
}