:root {
  --darkify-ffffff: #ffffff;
  --darkify-333333: #333333;
  --darkify-transparent: rgba(0, 0, 0, 0);
  --darkify-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  --darkify-duration: 750ms;
  --darkify-duration-2: 500ms;
}