:root {
  --auto-dark-mode-ffffff: #ffffff;
  --auto-dark-mode-333333: #333333;
  --auto-dark-mode-transparent: rgba(0, 0, 0, 0);
  --auto-dark-mode-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}