:root {
  --wp-gray: #d2d2d2;
  --wp-red: #ea3323;
  --wp-yellow: #ffb505;
  --wp-green: #51a577;
  --wp-background-color: rgba(255, 255, 255, 0.45);
  --wp-text-color: #333333;
  --wp-url-color: #888888;
  --wp-transparent: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --wp-background-color: rgba(0, 0, 0, 0.45);
    --wp-text-color: #ffffff;
    --wp-url-color: #d2d2d2;
  }
}

.webPreloaderSheetBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--wp-transparent);
  z-index: 1000;
  display: none;
  user-select: none;
  -webkit-user-select: none;
}

.webPreloaderSheetBackground[displayed="true"] {
  display: block;
}

.webPreloaderSheet {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: clamp(100px, 45%, 450px);
  background-color: var(--wp-background-color);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 1001;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  -webkit-user-select: none;
}

.webPreloaderSheet[displayed="true"] {
  display: block;
}

.webPreloaderSheet .webPreloaderSheetLink {
  position: relative;
  width: 100%;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}

.webPreloaderSheet .webPreloaderSheetLink .webPreloaderSheetLinkText {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 20px;
  font-size: 15px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  color: var(--wp-text-color);
  align-items: center;
}

.webPreloaderSheet .webPreloaderSheetLink .webPreloaderSheetLinkURL {
  position: absolute;
  top: 25px;
  left: 10px;
  height: 15px;
  font-size: 10px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  color: var(--wp-url-color);
  display: flex;
  align-items: center;
}

.webPreloaderButton {
  width: 15px;
  height: 15px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 15px;
  background-color: var(--wp-gray);
  z-index: 999;
  user-select: none;
  -webkit-user-select: none;
}

.webPreloaderButton[status="2"] {
  background-color: var(--wp-green);
}

.webPreloaderButton[status="1"] {
  background-color: var(--wp-yellow);
}

.webPreloaderButton[status="0"] {
  background-color: var(--wp-red);
}